* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.calculatorContainer {
  position:absolute;
  height: fit-content;
  width: 200px;
  margin: 1em;
  border: 3px groove darkblue;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.315), inset 2px 2px 2px 0px darkslateblue;

  border-radius: 10px;
  padding: 0.2em 0.3em;
  background-color: darkorange;

  h2 {
    text-align: right;
  }
}

#display {
  width: 100%;
  background-color: lightblue;
  border: 3px groove darkblue;
  margin-top: 2px;
  border-radius: 5px;
  color: darkblue;
  display: flex;
  flex-direction: row-reverse;
  padding: 5px 3px 0 3px;
  margin-bottom: 5px;
  overflow: hidden;
  p {
    text-overflow: "…";
    font-family: "Electrolize", "Courier New", Courier, monospace;
    font-size: 1.6em;
    line-height: 1em;
    vertical-align: bottom;
    margin: 0;
    padding: 0;
    text-align: right;
    text-overflow: ellipsis;
  }
}
.rowContainer {
  border: 3px groove darkblue;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: gainsboro;
  padding: 5px;
  padding-right: 15px;
}
.numberBtn {
    display: flex;
    justify-content:space-around;
    padding: 5px;
  }
