@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

h2 {
  font-family: "Electrolize", sans-serif;
  font-size: 0.8em;
  background-color: rgba(255, 106, 0, .5);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(255, 106, 0, .5);
}
